body {
    margin: 0;
    padding: 20px;
  }
  
  .box {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  
  .text {
  }
  
  h3 {
    font-size: 21px;
    margin: 0;
  }
  
  .pict {
    width: 30%;
    margin-left: 3%;
  }
  
  .pict img {
    width: 100%;
    height:auto;
  }